.vscode
_site
.DS_Store
.jekyll
.jekyll-metadata
.jekyll-cache
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
output/

*.idea
*__pycache__*
*.h5
*.ipynb_checkpoints
*.csv
!_rmd/extra_cancer/*.csv
_rmd/*/*.png
_rmd/*/*/*.png
*.pdf
.Rproj.user
*.Rproj
*.Rhistory
